body { font-family: 'Inter', sans-serif; }
.nav-link { transition: color 0.3s ease, border-color 0.3s ease; }
.nav-link.active { color: #9945FF; border-bottom-color: #9945FF; }
.content-section { display: none; }
.content-section.active { display: block; }
.chart-container {
    position: relative;
    width: 100%;
    max-width: calc(100vw - 2rem);
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    max-height: 400px;
    overflow-x: auto;
}
@media (min-width: 768px) {
    .chart-container {
        height: 400px;
        max-width: 700px;
    }
}
.tab-btn.active, .chart-type-btn.active { background-color: #9945FF; color: white; border-color: #9945FF; }
.solana-tab-btn.active { background-color: #9945FF; color: white; border-color: #9945FF;} 